{% extends 'base.html' %}

{% block content %}
<body>          
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Back Mount</h1>
        <p>In the view of most Jiujitsu practitioners is the ultimate position to control your opponent and finish the fight with strikes and submissions. However, the athlete with their back-mounted, you must protect your kneck and utilize technique to escape this position.
    </p>
    </div>

<br>        

<div class="album py-5 bg-light">
<ul>

  <div class="row row-cols-1 row-cols-md-2 g-4">
  {% for move in Back_Mounts %}
        <div class="card">
          <img src="{{move.image}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{move.name}}</h5>
            <p class="card-text">{{move.info}}</p>
            <p class="card-text"><small class="text-muted">Image Credit: {{move.imageCredit}}</small></p>
            <a href="#" class="btn btn-primary"> Go To {{move.name}}</a>
         </div>
      </div> 
  {% endfor %}
    </div>
</div>
</ul>        
</body>
{% endblock %}
</html>